

body{
	background: url("../img/triangle.jpg") no-repeat center center fixed; 
	background-size: cover;


}   

a.home {
	position: absolute;
	font-size: 20px;
	top: 50%;
   	left: 50%;
	margin-top: -275px; 
   	margin-left: -240px;

}

a.next {
	position: absolute;
	font-size: 20px;
	top: 50%;
   	left: 50%;
	margin-top: -275px; 
  	margin-left: -140px;

}
a:link{

	color: white;
}

a:visited {
 	color: white;


 }
 a:hover {
 	color: rgb(255,0,170);
 }


img.one {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 432px;
   height: 252px;
   margin-top: -250px; 
   margin-left: -250px; 
 
}

img.two {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 432px;
   height: 252px;
   margin-top: -250px; 
   margin-left: -250px; 
   border-radius: 20px;
}
   img.three {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 432px;
   height: 252px;
   margin-top: -250px; 
   margin-left: -250px; 
   border-radius: 20px;
}
   img.four {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 432px;
   height: 252px;
   margin-top: -250px; 
   margin-left: -250px; 
   border-radius: 20px;
}
