

body{
	background: url("../img/triangle.jpg") no-repeat center center fixed; 
	background-size: cover;


}

h1{
		color: rgb(170,255,0); 
		font-family: 'Source Sans Pro', sans-serif;
  		text-align: center;
  		font-size: 3em;

  	
}

h3{
	color: rgb(255,170,0);
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}
p {
	color: white;
	font-family: 'Roboto Slab', serif;
	text-align: center;
}
p.button {
	color: rgb(170,255,0) ;
}

ul.res {
	text-align: center;
	text-decoration: none;
}

li.item {
		display: inline;
		font-size: 1.5em;
		margin: 1em;
	}

img.center {
	margin-top: 20px;
	height: 400px;
	width: 300px;
	border: 5px solid rgb(0,170,255);
	border-radius: 10px;

}
a:link{

	color: white;
}

a:visited {
 	color: white;


 }
 a:hover {
 	color: rgb(255,0,170);
 }

div.box {
	background: black;
	padding-bottom: 20px;
	border: solid 5px rgb(0,170,255);
	border-radius: 10px;
}

.controls {
  bottom: 100px;
  width: 100%;
  text-align: center;
}

.controls img {
  border: 5px solid rgb(170,0,255);
  border-radius: 60px;
}

.controls img:hover {
  border: 5px solid rgb(255,0,170);
  border-radius: 60px;
}


.gallery .control-button {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
 
}
